{% load static %}
<footer class="footer">
		<div class="container">
			<a class="footer-brand" href="/">Pratama.com</a>
			<ul class="social-buttons pull-right">
				<li>
					<a href="https://twitter.com/CreativeTim" target="_blank" class="btn btn-just-icon btn-twitter btn-simple">
						<i class="fa fa-twitter"></i>
					</a>
				</li>
				<li>
					<a href="https://www.facebook.com/CreativeTim" target="_blank" class="btn btn-just-icon btn-facebook btn-simple">
						<i class="fa fa-facebook-square"></i>
					</a>
				</li>
				<li>
					<a href="https://www.instagram.com/CreativeTimOfficial" target="_blank" class="btn btn-just-icon btn-google btn-simple">
						<i class="fa fa-google"></i>
					</a>
				</li>
			</ul>

		</div>
	</footer>